<ion-item class="twit">
	<div class="twit-left hhh">
		<!-- <img src="" alt=""> -->
		<div class="twit-img"></div>
	</div>
	<div class="twit-right">
    <div class="twit-top">
    	<ion-text>
    		<h5>Svpino
    		<span>@sjso
    		. 4h</span></h5>
    	</ion-text>
    </div>
      <p>
    		In machine learning, there's high correlation between excellent results and your ability to think differently
  </p>
  <ion-buttons>
  	<app-animated-button [type]="button[0]"></app-animated-button>
  	<app-animated-button [type]="button[1]"></app-animated-button>
    <app-animated-button [type]="button[2]"></app-animated-button>
  </ion-buttons>
	</div>
</ion-item>